*{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0
    margin-bottom: 0;
    box-sizing: border-box;
}


.header {
    position: relative;
    top: 1px;

    
    
    

    


}


.Logo {
    position: relative;
    margin-left: 35px;
    margin-top: 4px;
    
    
}

.info{
    position: relative;
    margin-right: 35px;
    margin-top: 4px;
    
}




.hero {
    position: relative;
    
    

}
.hero img {
    width: 100%;
    height: 800px;
    margin-bottom: 0;

    
}

.crossing {
    height: 70px;
    border: 1px solid grey;
    background: grey;
    text-align: center;
    font-size:medium;
    
    


}

.information{

}

.shoes_picture{

}
.shoes_information{

}

.emergency_picture{

}

.emergency_information{

}

.emergency_number{

}

.emergency_number_button{

}

.keys_picture{

}

.keys_information{

}

.experience_picture{

}

.experience_information{

}

.Phone_number{

}
.phone_number_button{

}

.footer{
    margin-bottom: 0px;
    height: 30px;
    border: 3px solid black;
    background-color: white;

}

.all_rights{
    

}

.impressum{

}
