*{
    margin-top: 0;
    margin-left: 0;
    box-sizing: border-box;
}


.head {
    position: relative;
    margin-left: 0px;
    margin-top: 0px;
    border: 1px black solid;

}


.logo {

}




.hero {

}

.crossing {

}

.information{

}

.shoes_picture{

}
.shoes_information{

}

.emergency_picture{

}

.emergency_information{

}

.emergency_number{

}

.emergency_number_button{

}

.keys_picture{

}

.keys_information{

}

.experience_picture{

}

.experience_information{

}

.Phone_number{

}
.phone_number_button{

}

.all_rights{

}

.impressum{

}
